{% extends 'core/base.html' %}

{% block title %}Cart Items{% endblock %}

{% block content %}
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Cart Items</h2>
        
        {% if cart_items %}
            <table class="table-auto w-full bg-white rounded-lg shadow-lg">
                <thead>
                    <tr>
                        <th class="px-4 py-2">Name</th>
                        <th class="px-4 py-2">Quantity</th>
                        <th class="px-4 py-2">Price</th>
                        <th class="px-4 py-2">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cart_item in cart_items %}
                        <tr>
                            <td class="border px-4 py-2">{{ cart_item.item.name }}</td>
                            <td class="border px-4 py-2">{{ cart_item.quantity }}</td>
                            <td class="border px-4 py-2">₹{{ cart_item.item.price }}</td>
                            <td class="border px-4 py-2">₹{{ cart_item.amount }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="text-center mt-6">
                <p class="mt-6 mb-4 text-2xl font-semi-bold text-center">Total Price: ₹{{ cart.total_price }}</p>
                <button id="confirmOrderButton" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Confirm Order</button>
            </div>
        {% else %}
            <p class="mb-12 text-2xl text-center font-bold">No items in the cart.</p>
            <div class="text-center mt-6">
                <a href="{% url 'core:index' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Home</a>
            </div>
        {% endif %}
    </div>

    <!-- Notification Template -->
    <div id="successNotification" class="hidden p-4 text-green-900 bg-green-100 border border-green-200 rounded-md">
        <div class="flex justify-between flex-wrap">
            <div class="w-0 flex-1 flex">
                <div class="mr-3 pt-1">
                    <svg width="26" height="26" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                        <path d="M8.445 12.6675A.9.9 0 0 0 7.1424 13.91l2.5726 2.7448c.3679.3856.9884.3689 1.335-.036l5.591-7.0366a.9.9 0 0 0-1.3674-1.1705l-4.6548 5.9132a.4.4 0 0 1-.607.0252l-1.567-1.6826zM1.9995 12c0-5.5 4.5-10 10-10s10 4.5 10 10-4.5 10-10 10-10-4.5-10-10z"></path>
                    </svg>
                </div>
                <div>
                    <h4 class="text-md leading-6 font-medium">
                        Order confirmed successfully!
                    </h4>
                    <p class="text-sm">
                        Your order has been placed successfully.
                    </p>
                    <div class="flex mt-3">
                        <a href="{% url 'core:index' %}" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-700 text-base font-medium text-white hover:bg-green-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:w-auto sm:text-sm">
                            Go to Home
                        </a>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" class="rounded-md focus:outline-none focus:ring-2 focus:ring-green-500" onclick="document.getElementById('successNotification').classList.add('hidden');">
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                        <path d="M17.6555 6.3331a.9.9 0 0 1 .001 1.2728l-4.1032 4.1085a.4.4 0 0 0 0 .5653l4.1031 4.1088a.9002.9002 0 0 1 .0797 1.1807l-.0806.092a.9.9 0 0 1-1.2728-.0009l-4.1006-4.1068a.4.4 0 0 0-.5662 0l-4.099 4.1068a.9.9 0 1 1-1.2738-1.2718l4.1027-4.1089a.4.4 0 0 0 0-.5652L6.343 7.6059a.9002.9002 0 0 1-.0796-1.1807l.0806-.092a.9.9 0 0 1 1.2728.0009l4.099 4.1055a.4.4 0 0 0 .5662 0l4.1006-4.1055a.9.9 0 0 1 1.2728-.001z"></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const confirmOrderButton = document.getElementById('confirmOrderButton');
            const successNotification = document.getElementById('successNotification');

            confirmOrderButton.addEventListener('click', function (event) {
                fetch('{% url "items:place_order" %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        successNotification.classList.remove('hidden');
                    } else {
                        alert('Failed to confirm order: ' + data.error);
                    }
                })
                .catch(error => console.error('Error:', error));
            });
        });
    </script>
{% endblock %}
